$base-color: #E8E4E2;
$dark-color: #2D292A;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

body{
    background-color: $base-color;
}

.main-container{
width: 100%;
height: 100%;
.mouse{
    position: absolute;
    width: 50px;
    height: 50px;
    bottom: 10px;
    margin-right: 50%;
    margin-left: 50%;
    transition: transform 0.2s ease-in-out;
    &:hover{
        transform: translateY(5px);
    }
}
.animate-mouse{
    transform: translateY(5px);
}
.img{
    img{
    cursor: pointer;
    transition: transform 0.5s ease-in-out;
    }
    &:hover{
    img{
    transform: scale(1.03);
    }
    }
}
.content-box{
    width: 100%;
    height: 100vh;
    position: relative;
    .side-panel{
        width: 350px;
        background-color: $dark-color;
        height: 100vh;
        position: absolute;
        top: 0px;
        display: flex;
        align-items: center;
        justify-content: center;
        .nav{
        position: absolute;
        top: 54px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 3px;
        .nav-active{
        width: 3px;
        }
        a{
        display: block;
        margin-bottom: 5px;
        width: 1px;
        height: 20px;
        background-color: $base-color;
        }
        }
        .links{
            a{
            transition: transform 0.3s ease-in-out;
            &:hover {
            transform: scale(1.13);
            }
            }
            position: absolute;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            height: 260px;
        }
    }
    .right-panel{
        right: 0px;
        .nav{
            right: 90px;
        }
        .links{
            right: 62px;
        }
    }
    .main-box__wrapper{
        width: 100%;
        height: 100vh;
        position: absolute;
        top: 0px;
        display: flex;
        align-items: center;
        .main-box__text{
            display: flex;
            flex-direction: column;
            position: absolute;
            left: 87px;
            .main-box__links{
                width: 300px;
                border-top: 1px solid;
                display: flex;
                a{
                margin-right: 30px;
                text-decoration: none;
                font-family: 'Lato';
                font-style: normal;
                font-weight: 400;
                font-size: 16px;
                line-height: 50px;
                leading-trim: both;
                text-edge: cap;
                display: flex;
                align-items: center;
                text-align: center;
                text-transform: uppercase;
                color: #000000;
                }
            }
        }
        .main-box__h1{
            font-family: 'Lato';
            font-style: normal;
            font-weight: 700;
            font-size: 32px;
            line-height: 50px;
            leading-trim: both;
            text-edge: cap;
            display: flex;
            align-items: center;
            text-align: center;
            text-transform: uppercase;
            color: #000000;
        }
        .main-box__hero{
            position: absolute;
            right: 175px;
            z-index: 10;
        }

    }
}
.header{
    width: 100%;
    display: flex;
    justify-content: center;
    .header-container{
    width: 100%;
    max-width: 324px;
    display: flex;
    justify-content: space-between;
    a{
    z-index: 20;
    margin-top: 50px;
    text-decoration: none;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.2em;
    color: #000000;
    opacity: 0.5;
    transition: opacity 0.3s ease-in-out;
    &:hover{
    opacity: 1;
    }
    }
    }
}

}