* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

body {
  background-color: #E8E4E2;
}

.main-container {
  width: 100%;
  height: 100%;
}
.main-container .mouse {
  position: absolute;
  width: 50px;
  height: 50px;
  bottom: 10px;
  margin-right: 50%;
  margin-left: 50%;
  transition: transform 0.2s ease-in-out;
}
.main-container .mouse:hover {
  transform: translateY(5px);
}
.main-container .page-name {
  position: absolute;
  top: 100px;
}
.main-container .page-name h1 {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 72px;
  line-height: 50px;
  text-transform: uppercase;
}
.main-container .left-name {
  left: 450px;
}
.main-container .animate-mouse {
  transform: translateY(5px);
}
.main-container .img img {
  cursor: pointer;
  transition: transform 0.5s ease-in-out;
}
.main-container .img:hover img {
  transform: scale(1.03);
}
.main-container .content-box {
  width: 100%;
  height: 100vh;
  position: relative;
}
.main-container .content-box .side-panel {
  width: 350px;
  background-color: #2D292A;
  height: 100vh;
  position: absolute;
  top: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-container .content-box .side-panel .nav {
  position: absolute;
  top: 54px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 3px;
}
.main-container .content-box .side-panel .nav .nav-active {
  width: 3px;
}
.main-container .content-box .side-panel .nav a {
  display: block;
  margin-bottom: 5px;
  width: 1px;
  height: 20px;
  background-color: #E8E4E2;
}
.main-container .content-box .side-panel .links {
  z-index: 20;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 260px;
}
.main-container .content-box .side-panel .links a {
  transition: transform 0.3s ease-in-out;
}
.main-container .content-box .side-panel .links a:hover {
  transform: scale(1.13);
}
.main-container .content-box .right-panel {
  right: 0px;
}
.main-container .content-box .right-panel .nav {
  right: 90px;
}
.main-container .content-box .right-panel .links {
  right: 62px;
}
.main-container .content-box .left-panel {
  left: 0px;
}
.main-container .content-box .left-panel .nav {
  left: 90px;
}
.main-container .content-box .left-panel .links {
  left: 62px;
}
.main-container .content-box .main-box__wrapper {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0px;
  display: flex;
  align-items: center;
}
.main-container .content-box .main-box__wrapper .main-box__text {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 87px;
}
.main-container .content-box .main-box__wrapper .main-box__text .main-box__links {
  width: 300px;
  border-top: 1px solid;
  display: flex;
}
.main-container .content-box .main-box__wrapper .main-box__text .main-box__links a {
  margin-right: 30px;
  text-decoration: none;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 50px;
  leading-trim: both;
  text-edge: cap;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}
.main-container .content-box .main-box__wrapper .main-box__h1 {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 50px;
  leading-trim: both;
  text-edge: cap;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}
.main-container .content-box .main-box__wrapper .main-box__hero {
  position: absolute;
  right: 175px;
  z-index: 10;
}
.main-container .header {
  width: 100%;
  display: flex;
  justify-content: center;
}
.main-container .header .header-container {
  width: 100%;
  max-width: 324px;
  display: flex;
  justify-content: space-between;
}
.main-container .header .header-container a {
  z-index: 20;
  margin-top: 50px;
  text-decoration: none;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  letter-spacing: 0.2em;
  color: #000000;
  opacity: 0.5;
  transition: opacity 0.3s ease-in-out;
}
.main-container .header .header-container a:hover {
  opacity: 1;
}
.main-container .about-box .main-box__wrapper .main-box__hero {
  width: 100%;
  max-width: 900px;
  height: 500px;
  left: 175px;
}
.main-container .about-box .main-box__wrapper .main-box__text {
  right: 100px;
  left: 1200px;
  position: absolute;
  max-width: 700px;
  height: 350px;
}
.main-container .about-box .main-box__wrapper .main-box__text h1 {
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 25px;
  leading-trim: both;
  text-edge: cap;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: #000000;
}
.main-container .about-box .main-box__wrapper .main-box__text P {
  max-width: 500px;
  margin-top: 33px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  leading-trim: both;
  text-edge: cap;
  text-transform: uppercase;
  color: #000000;
}
.main-container .about-box .main-box__wrapper .main-box__text .button-wrapper {
  display: flex;
  width: 100%;
  max-width: 445px;
  justify-content: space-between;
  margin-top: 80px;
}
.main-container .about-box .main-box__wrapper .main-box__text .button-wrapper a {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #000000;
  text-decoration: none;
  text-transform: uppercase;
  width: 200px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  background: #E8E4E2;
  border: 1px solid #2D292A;
  transition: all 0.3s ease-in-out;
}
.main-container .about-box .main-box__wrapper .main-box__text .button-wrapper a:hover {
  background: #2D292A;
  color: #fff;
}
.main-container .contact-box .main-box__wrapper .main-box__hero {
  display: flex;
  flex-direction: row-reverse;
}
.main-container .contact-box .main-box__wrapper .main-box__hero .country {
  height: 500px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
}
.main-container .contact-box .main-box__wrapper .main-box__hero .country .selected {
  color: #000000;
}
.main-container .contact-box .main-box__wrapper .main-box__hero .country div {
  margin-top: 40px;
  margin-bottom: 40px;
  cursor: pointer;
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  font-size: 32px;
  line-height: 0px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  transition: all 0.3s ease-in-out;
  color: rgba(0, 0, 0, 0.5);
}
.main-container .contact-box .main-box__wrapper .main-box__hero .country div:hover {
  color: #000000;
}
.main-container .contact-box .main-box__wrapper .main-box__hero .card {
  transition: all 0.3s ease-in-out;
  margin-left: 40px;
  filter: drop-shadow(0px 8px 8px rgba(0, 0, 0, 0.25));
}
.main-container .contact-box .main-box__wrapper .main-box__hero .card img {
  display: none;
}
.main-container .contact-box .main-box__wrapper .main-box__hero .card .selected {
  display: block;
}
.main-container .contact-box .main-box__wrapper .contact {
  margin-left: 90px;
  display: flex;
  flex-direction: column;
}
.main-container .contact-box .main-box__wrapper .contact .selected {
  color: #000000;
}
.main-container .contact-box .main-box__wrapper .contact > div:last-child {
  margin-top: 50px;
}
.main-container .contact-box .main-box__wrapper .contact > div a {
  text-decoration: none;
  margin-top: 10px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
}
.main-container .contact-box .main-box__wrapper .contact p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
}
.main-container .footer {
  width: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 10px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 300;
  letter-spacing: 0.2em;
  text-transform: uppercase;
  color: #000000;
}

.jquery-modal {
  z-index: 50 !important;
}

.modal {
  width: 1200px !important;
  max-width: 1200px !important;
  border-radius: 18px !important;
  height: 700px;
  z-index: 100 !important;
  padding: 0 !important;
}
.modal .modal-container {
  position: relative;
  border-radius: 18px;
  width: 100%;
  height: 100%;
  display: flex;
}
.modal .modal-container .modal-text {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin-left: 495px;
  max-width: 650px;
  height: 100%;
}
.modal .modal-container .modal-text .modal-button {
  position: absolute;
  bottom: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.modal .modal-container .modal-text .modal-button a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
  color: #000000;
  border: 1px solid #2D292A;
  border-radius: 18px;
  width: 200px;
  height: 50px;
  transition: all 0.3s ease-in-out;
}
.modal .modal-container .modal-text .modal-button a:hover {
  background-color: #2D292A;
  color: #fff;
}
.modal .modal-container .modal-text h1 {
  margin-bottom: 45px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 700;
  font-size: 48px;
  line-height: 10px;
  text-transform: uppercase;
  color: #1F2022;
}
.modal .modal-container .modal-text p {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  leading-trim: both;
  text-edge: cap;
  color: #000000;
}
.modal .modal-container img {
  width: 100;
  max-width: 450px;
  position: absolute;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (max-width: 1440px) {
  .main-container .main-box__wrapper .main-box__hero {
    width: 300px;
    height: 200px;
  }
  .main-container .main-box__wrapper .main-box__hero img {
    display: none;
  }
  .main-container .contact-box .main-box__wrapper .main-box__hero {
    right: 200px;
    width: 100%;
  }
  .main-container .contact-box .main-box__wrapper .main-box__hero .country {
    justify-content: flex-start;
    margin-left: 50px;
    height: 250px;
  }
  .main-container .contact-box .main-box__wrapper .main-box__hero .card {
    height: 250px;
  }
  .main-container .contact-box .main-box__wrapper .contact {
    margin-left: 50px;
  }
  .contact-box .main-box__hero {
    align-items: center;
  }
  .main-container .contact-box .main-box__wrapper .main-box__hero .country div {
    font-size: 24px;
  }
  .main-container .about-box .main-box__wrapper .main-box__hero {
    display: none;
  }
  .main-container .content-box .main-box__wrapper .main-box__h1 {
    font-size: 24px;
  }
  .main-container .about-box .main-box__wrapper .main-box__text {
    left: 450px;
  }
  .footer {
    font-size: 10px;
  }
}
.modals {
  display: none;
}